* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
  min-width: 100vh;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #1c1e31;
}

.navbar {
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 0 1.3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
}

.menu-items ul {
  display: flex;
  list-style: none;
  gap: 35px;
  letter-spacing: 0.7px;
}

.menu-items ul a {
  text-decoration: none;
  color: #1c1e31;
  font-size: 0.88rem;
}

.two-buttons button {
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 13px 22.5px;
}

.two-buttons a {
  text-decoration: none;
  font-size: 0.88rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.login {
  background-color: #fff;
  border: 1px solid #06bde9;
}

.login a {
  color: #06bde9;
}

.login:hover {
  background-color: #06bce924;
}

.register {
  background-color: #06bde9;
  border: 1px solid #06bde9;
}

.register a {
  color: #fff;
}

.register:hover {
  background-color: #11c5f2;
}

.lang {
  border-radius: 13px;
  background-color: rgb(243, 243, 243);
}

.lang i {
  color: rgb(118, 118, 118);
  padding-left: 15px;
}

.buttons > div ul li {
  display: inline-block;
  padding: 13px 15px;
  list-style: none;
}

.languages ul li {
  position: relative;
  cursor: pointer;
}

.dropdown-menu.activee {
  display: inline-block;
  position: absolute;
  left: 12.5px;
  width: 55px;
  top: 8px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.dropdown-menu ul li:first-child {
  color: #06bde9;
}

.dropdown-menu ul {
  display: inline-block;
  margin: 8px 0;
  font-size: 15px;
}

.dropdown-menu ul li {
  width: 55px;
  font-weight: normal;
  text-align: center;
  transition: all 0.3s;
}

.dropdown-menu ul li:hover {
  background-color: #f7f4f4;
}

.dropdown-menu {
  display: none;
}

/* HOMEPAGE FOOTER */

.homepage-footer {
  display: flex;
  padding: 100px;
  align-items: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  height: 84vh;
}

.blue {
  color: #06bde9;
}

.left-article h1 {
  color: #1c1e31;
  font-size: 3.6rem;
}

.three-images img {
  width: 140px;
  cursor: pointer;
}

.left-article p {
  font-size: 1.2rem;
  color: #64748b;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 2;
}

.phone-photos img {
  width: 630px;
}

/* PAYMENTS */

.payments {
  margin: 0 100px;
  background-color: #f4f7fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
}

.payments h3,
.payments h2,
.card p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.payments h3 {
  color: #06bde9;
  font-size: 1rem;
}

.payments h2 {
  color: #1c1e31;
  margin: 20px 0 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card img {
  width: 70px;
}

.card p {
  margin-top: 10px;
  font-size: 0.88rem;
}

.card {
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
  width: 190px;
  height: 150px;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nfc-photo {
  display: flex;
  justify-content: center;
}

.nfc-photo img {
  width: 50%;
  border-radius: 13px;
  margin-top: 50px;
}

/* WHY MPAY */

.why-mpay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}

.why-mpay h3,
.why-mpay h2,
.four-card p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.why-mpay h3 {
  color: #06bde9;
  font-size: 1rem;
}

.why-mpay h2 {
  color: #1c1e31;
  margin: 20px 0 50px;
}

.four-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.four-card {
  display: flex;
  width: 500px;
  height: 130px;
  padding: 25px;
  border-radius: 10px;
  transition: all 0.5s;
}

.four-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.purple-card::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #f0f0ff;
  left: 13.6%;
  top: 8%;
}

.yellow-card::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #fff9ec;
  left: 51.6%;
  top: 8%;
}

.pink-card::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #fef1f0;
  left: 13.6%;
  top: 58%;
}

.green-card::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #ddf8e6;
  left: 51.6%;
  top: 58%;
}

.heading-p {
  font-weight: 600;
}

.footer-p {
  color: #64748b;
  margin-top: 20px;
  line-height: 1.6;
}

.paragraphs {
  margin-left: 55px;
  letter-spacing: 0.15px;
}

/* MONEY TRANSFER */

.money-transfer {
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

.right-article {
  width: 50%;
  margin-left: 120px;
}

.right-article h1 {
  color: #1c1e31;
  font-size: 3.6rem;
}

.right-article p {
  font-size: 1.2rem;
  color: #64748b;
  font-weight: normal;
  margin-top: 25px;
  line-height: 2;
}

.left-phone-img img {
  width: 400px;
  margin-left: 150px;
}

/* SELECTED PAYMENTS */

.selected-payments {
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  justify-content: space-around;
  align-items: center;
}

.right-tablet-img img {
  width: 670px;
}

.selected-payments .left-article {
  margin-left: 50px;
  width: 35%;
}

.selected-payments .left-article p {
  margin-top: 20px;
}

/* DIFFERENT PAYMENT METHODS */

.different-payment-methods {
  width: 100%;
  height: 80vh;
  display: flex;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.different-payment-methods .right-article {
  width: 45%;
}

.left-terminal-img img {
  padding-left: 150px;
}

/* F.A.Q */

.faq {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 50px 0;
}

.faq > h3 {
  color: #06bde9;
  font-size: 1rem;
}

.faq h2 {
  color: #1c1e31;
  margin: 20px 0 50px;
}

.faq ol {
  padding: 10px 40px;
  line-height: 1.5;
}

.answer p {
  line-height: 1.5;
  padding: 10px 20px 15px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.q-a {
  width: 44%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.question-answer {
  width: 100%;
  color: #64748b;
  background-color: #f6f6f7;
  border-radius: 13px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 25px;
  cursor: pointer;
}

.question-answer.active .answer {
  max-height: 300px;
}

.question-answer.active i {
  transform: rotate(-180deg);
}

.question i {
  transition: transform 0.3s ease-in;
}

/* MOBILE APPLICATION */

.mobile-app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.mobile-application {
  width: 85%;
  height: 99vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #06bde9;
  border-radius: 30px;
  display: flex;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  justify-content: space-around;
  align-items: center;
}

.ma-left-article {
  color: #fff;
}

.ma-left-article h1 {
  font-size: 2.8rem;
  font-weight: normal;
}

.ma-left-article p {
  color: #eee;
  margin: 20px 0;
}

/* FOOTER */

footer {
  width: 100%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-heading,
.footer-footer {
  margin: 0 auto;
  width: 85%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.footer-heading,
.footer-footer,
.contact {
  display: flex;
}

.footer-heading {
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  padding-bottom: 30px;
  align-items: center;
}

.selections a {
  font-weight: 600;
  font-size: 0.88rem;
  text-decoration: none;
  color: #1c1e31;
  letter-spacing: 1px;
  display: inline;
}

.selections {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.lang1 {
  border-radius: 13px;
  background-color: rgb(243, 243, 243);
}

.lang1 li {
  font-weight: 600;
}

.lang1 i {
  color: rgb(118, 118, 118);
  padding-left: 15px;
}

.buttons1 > div ul li {
  display: inline-block;
  padding: 13px 15px;
  list-style: none;
}

.languages1 ul li {
  position: relative;
  cursor: pointer;
}

.dropdown-menu1.activee {
  display: inline-block;
  position: absolute;
  left: 12.5px;
  width: 55px;
  top: 8px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.dropdown-menu1 ul li:first-child {
  color: #06bde9;
}

.dropdown-menu1 ul {
  display: inline-block;
  margin: 8px 0;
  font-size: 15px;
}

.dropdown-menu1 ul li {
  width: 55px;
  font-weight: normal;
  text-align: center;
  transition: all 0.3s;
}

.dropdown-menu1 ul li:hover {
  background-color: #f7f4f4;
}

.dropdown-menu1 {
  display: none;
}

.footer-footer {
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.contact {
  justify-content: space-between;
}

.contact ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.contact ul a,
.logos a {
  text-decoration: none;
  color: #1c1e31;
}

.logos {
  border-right: 2px solid #eee;
}

.logos a {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 6.5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.contact ul li {
  margin: 0 15px;
  font-size: 0.88rem;
}

.logos a:hover {
  background-color: #06bde9;
  color: #fff;
  text-align: center;
}
